.container {
    border-radius: 4px;
    overflow: hidden;
    background-color: #00000006;
    font-family: "Outfit", serif;

    .table {
        height: 100%;
        overflow: scroll;

        .row {
            display: grid;
            grid-template-columns: 60px 1fr 1fr;
            height: 32px;

            &:nth-child(even) {
                background-color: #00000011;
            }

            .idx {
                display: grid;
                place-content: center;

                color: #999;

            }

            .move {
                display: grid;
                place-content: center start;
                transition: background-color 250ms, border-color 250ms;
                border-radius: 2px;
                padding: 0 8px;

                border: none;
                background-color: transparent;
                cursor: pointer;
                border: 2px solid transparent;

                margin-right: 12px;


                &:hover {
                    background-color: #00000031;
                }

                &.selected {
                    border-color: black;
                }

            }
        }
    }
}