.container {
    border-radius: 4px;
    overflow: hidden;
    background-color: #00000011;

    .table {
        height: 100%;
        overflow: scroll;

        .row {
            display: grid;
            grid-template-columns: auto 1fr 1fr;
            height: 32px;

            &:nth-child(even) {
                background-color: #00000022;
            }

            &>div {
                display: grid;
                place-content: center;
                transition: background-color 250ms;

                &:hover {
                    background-color: #00000011;
                }
            }
        }
    }
}