body,
html {
    margin: 0;
    background-color: transparent;
    font-family: "Outfit", serif;

    background-color: #40465b;
}

.rc-tooltip {
    position: fixed;
    opacity: 1;

    pointer-events: none;
    transition: opacity 250ms;

    &.rc-tooltip-hidden {
        opacity: 0;
        z-index: -1;
    }
}