.container {
    display: grid;
    place-content: center;
}

.main {
    height: clamp(200px, calc(90vw - 249px), calc(100vh - 40px));
    width: clamp(200px, calc(90vw - 360px), calc(100vh - 130px));
    display: grid;
    grid-template-rows: 36px 1fr 36px;
    gap: 10px;

    .player {
        display: grid;
        width: max-content;
        height: max-content;
        padding: 0 12px;
        place-content: center;
        border-radius: 8px;
        background-color: white;
        color: black;

        height: 36px;

        &.top {
            place-self: end start;
        }

        &.bottom {
            place-self: start end;
        }

        &.black {
            background-color: black;
            color: white;
        }
    }

    .board {
        height: 100%;
        width: 100%;

        display: grid;
        place-content: center;
    }
}