.next,
.settings {
    display: grid;
    place-content: center;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff22;

    transition: border-color 250ms, background-color 250ms;

    svg {
        fill: #444;
        transition: fill 250ms;
    }

    &:hover,
    &.open {
        border-color: #00000045;
    }

    &.solved {
        background-color: rgb(100, 210, 100);

        svg {
            fill: #fff;
        }
    }
}

span {
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
}